*.gem
*.rbc
.bundle
.config
Gemfile.lock
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/

*.bundle
*.so
*.o
*.a
mkmf.log
/.idea
.ruby-version
.ruby-gemset


# iOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
vendor/
